
  <div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "screenshot1.png", height: '600', width: '600' %>
        </div>
      
      </div>
    </div>
  </div>
